@import './base.css';

body {
    font-family: var(--mainFont);
    background-color: #fff;
}

.menue {
    display: none;
}

.header {
    background-color: #f4f5f5;
    padding: 20px 0;
}

.header .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: aliceblue;
}

.header .logo img {
    width: 30px;
}

.header.logo a {
    color: var(--mainColor);
}

.navbar ul {
    display: flex;
    gap: 20px;
    /* Spacing between list items */
    flex-wrap: wrap;

}

.navbar ul li a {
    color: #101928;
}

.active {
    font-weight: 900;
}

.auth {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

}

.auth a {
    font-family: var(--subfont3);
    border-radius: 10px;
    padding: 1.3px 7px;



}

.auth .login {
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: 700;
}

.auth .Register {
    border: 2px solid var(--mainColor);
    color: #fff;
    background-color: var(--mainColor);

}

/*medai header*/


@media screen and (max-width : 853px) {
    nav {
        display: none;
    }

    .menue {
        display: block;
        order: 2;
    }

    .auth {
        display: none;
    }
}


@media screen and (max-width : 576px) {

    .container {
        width: calc(100% - 120px);
    }

    header.logo img {
        width: 20px;
    }

    header.logo a {
        font-size: 14px;
    }
}